# 12 MHz clock
set_io -nowarn CLK        35

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn ui_in[0]        4
set_io -nowarn ui_in[1]        2
set_io -nowarn ui_in[2]       47
set_io -nowarn ui_in[3]       45
set_io -nowarn ui_in[4]        3
set_io -nowarn ui_in[5]       48
set_io -nowarn ui_in[6]       46
set_io -nowarn ui_in[7]      44

# PMOD 1B
set_io -nowarn uio[0]       43
set_io -nowarn uio[1]       38
set_io -nowarn uio[2]       34
set_io -nowarn uio[3]       31
set_io -nowarn uio[4]       42
set_io -nowarn uio[5]       36
#set_io -nowarn uio[6]       32
#set_io -nowarn uio[7]      28

set_io -nowarn clk       32
set_io -nowarn rst_n      28


# PMOD 2
set_io -nowarn uo_out[0]       27
set_io -nowarn uo_out[1]       25
set_io -nowarn uo_out[2]       21
set_io -nowarn uo_out[3]       19
set_io -nowarn uo_out[4]       26
set_io -nowarn uo_out[5]       23
set_io -nowarn uo_out[6]       20
set_io -nowarn uo_out[7]      18

# LEDs and Buttons (PMOD 2)
#set_io -nowarn LED1       27
#set_io -nowarn LED2       25
#set_io -nowarn LED3       21
#set_io -nowarn BTN2       19
#set_io -nowarn LED5       26
#set_io -nowarn LED4       23
#set_io -nowarn BTN1       20
#set_io -nowarn BTN3       18
