.DS_Store
.idea
.vscode
*.vcd
runs
tt08_*_tb
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
src/formal
src/formal_prove
src/formal_bmc
src/formal_cover
src/formal_live
src/formal_bmc_bmc
