*~
build**/
deploy**
doc/gen/*

bin
obj

.vs
*.user
*.filters
*.sln
*.vcxproj
*.make
/source/**/Makefile

VHDL_out

doc
vhdl
*.vcd
*.dot
*.svg

*.filter
*.gtkw
*.surfer
*.testvectors
work-obj08.cf

db
incremental_db
output_files
*.qws
iverilog_test

.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

/find_the_damn_issue_*/find*.vhd
/find_the_damn_issue_*/find*.v
